<% if current_user %>
<p>User ID: <%= current_user.id %></p>
<p>User Identifier: <%=current_user.identifier%>
<p>User nickname: <%= current_user.nickname %></p>
<p>User Displayname: <%= current_user.displayname %></p>
<% end %>

<% if current_user %>
<%= link_to "Logout", :action => :destroy %>
<% else %>
<a class="rpxnow" onclick="return false;" href="https://bug-tracker.rpxnow.com/openid/v2/signin?token_url=http%3A%2F%2F127.0.0.1%2Flogin">Sign In</a>
<%end %>
