<p class="notice"><%= notice %></p>
<%= form_tag :action=>'create' do %>
  <div class="field">  
    <%= label_tag :solution_id %> <br >
    <%= text_field_tag :solution_id, params[:solution_id] %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>