<h1>New Comment</h1>

<%= form_for(@solution_comment) do |f| %>
  <% if @solution_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution_comment.errors.count, "error") %> prohibited this edit from being saved:</h2>

      <ul>
      <% @solution_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 6 %>
  </div>

  <fieldset>
    <legend>Solution Changes</legend>
  <%= fields_for(@solution) do |f2|%>
    <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @solution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
    <%= f2.label :description %><br />
    <%= f2.text_field :description %>
  </div>
  <div class="field">
    <%= f2.label :see_also %><br />
    <%= f2.text_field :see_also %>
  </div>
  <div class="field">
    <%= f2.label :patch_link %><br />
    <%= f2.text_field :patch_link %>
  </div>
  <div class="field">
    <%= f2.label :status %><br />
    <%= f2.select :status, Solution::STATUSES,
      :prompt => "Select status"
    %>
  </div>
  <div class="field">
    <%= f2.label :duplicate_of_id %><br />
    <%= f2.text_field :duplicate_of_id %>
  </div>
  <% end %>
  </fieldset>

  <div class="actions">
    <%= f.submit :value => 'Submit Comment'%>
  </div>
<% end %>

<%= link_to 'Back', bugs_path %>
