<%= form_for(@bug) do |f| %>
  <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
      <% @bug.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :see_also %><br />
    <%= f.text_field :see_also %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, Bug::STATUSES,
      :prompt => "Select status"
    %>
  </div>
  <div class="field">
    <%= f.label :severity %><br />
    <%= f.select :severity, Bug::SEVERITIES,
      :prompt => "Select severity"
    %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.select :priority, Bug::PRIORITIES,
      :prompt => "Select priority"
    %>
  </div>
  <div class="field">
    <%= f.label :duplicate_of_id %><br />
    <%= f.text_field :duplicate_of_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.collection_select :product_id, Product.all, :id, :name,
      :prompt => "Select product"
    %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
