<p class="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @bug.description %>
</p>

<p>
  <b>See also:</b>
  <%= @bug.see_also %>
</p>

<p>
  <b>Status:</b>
  <%= Bug::STATUSES.rassoc(@bug.status)[0]%>
</p>

<p>
  <b>Severity:</b>
  <%= Bug::SEVERITIES.rassoc(@bug.severity)[0]%>
</p>

<p>
  <b>Priority:</b>
  <%= Bug::PRIORITIES.rassoc(@bug.priority)[0]%>
</p>

<p>
  <b>Duplicate of:</b>
  <%= @bug.duplicate_of_id %>
</p>

<p>
  <b>Creator:</b>
  <%= @bug.creator.displayname %>
</p>

<p>
  <b>Product:</b>
  <%= @bug.product.name %>
</p>


<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
