<p class="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @bug.number %>
</p>

<p>
  <b>Description:</b>
  <%= @bug.description %>
</p>

<% unless @bug.see_also.blank? %>
  <p>
    <b>See also:</b>
    <%= @bug.see_also %>
  </p>
<% end %>

<p>
  <b>Status:</b>
  <%= Bug::STATUSES.rassoc(@bug.status)[0]%>
</p>

<p>
  <b>Severity:</b>
  <%= Bug::SEVERITIES.rassoc(@bug.severity)[0]%>
</p>

<p>
  <b>Priority:</b>
  <%= Bug::PRIORITIES.rassoc(@bug.priority)[0]%>
</p>

<% dupes = @bug.duplicates %>
<% unless dupes.blank? %>
  <p>
    <b>Duplicates:</b>
    <% dupes.each do |b| %>
      <%= link_to b.number, b %>
      <%= ',' unless b==dupes.last %>
    <% end %>
<% end %>

<% d_o = @bug.duplicate_of %>
<% if d_o %>
  <p>
    <b>Duplicate of:</b>
    
    <%= link_to d_o.number, d_o %>
  </p>
<% end %>

<p>
  <b>Creator:</b>
  <%= @bug.creator.displayname %>
</p>

<p>
  <b>Product:</b>
  <%= @bug.product.name %>
</p>

<% @bug.comments.each do |c| %>
  <hr/>
  <p> <%= c.created_at %> </p>
  <p> <%= c.creator.displayname %> </p>
  <p>
    <%= c.content %>
  </p>
<% end %>

<%= link_to 'New Comment', new_bug_comment_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
