<h1>Listing solutions</h1>

<table class="sortable">
  <thead>
    <tr>
      <th>Number</th>
      <th>Description</th>
      <th>Status</th>
      <th>Product</th>
      <th class="nosort"></th>
    </tr>
  </thead>
  <tbody>
    <% @solutions.each do |solution| %>
      <tr>
	<td><%= solution.number %></td>
	<td><%= solution.description %></td>
	<td><%= Solution::STATUSES.rassoc(solution.status)[0] %></td>
	<td><%= solution.product.name %></td>
	<td><%= link_to 'Show', solution %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Solution', new_solution_path %>  |
<%= link_to 'Back', root_path %>
