<!DOCTYPE html>
<html>
<head>
  <title>Bugtracker <%= @page_title%></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag request.ssl? ? 'https://rpxnow.com/js/lib/rpx.js' : 'http://static.rpxnow.com/js/lib/rpx.js'%>
  <%= csrf_meta_tag %>

</head>
<body>

<div id="topbar">
<div class="title">BugZapper</div>
<% if current_user %>
<%= current_user.displayname %>: 
<%= link_to "Logout", :controller => 'sessions', :action => :destroy %>
<% else %>
<%= link_to "Sign In", rpx_url , :class=>'rpxnow', :onclick=>'return false;' %>
<% end %>
</div>
<div id="content">
<%= yield %>
</div>
</body>
</html>
